html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

#webgl {
    width: 100%;
    height: 100%;
    display: block;
}

#modal-root {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 20%;
}

#nav-bar,
#progress-bar,
#footer {
    position: fixed;

    box-sizing: border-box;
    display: flex;

    align-items: center;
    padding: 0.5rem 2rem;
}

#nav-bar {
    top: 0;
    justify-content: space-between;
    background-color: #333;
    width: 100%;
    height: 5rem;
}

#progress-bar {
    flex-direction: column;
    justify-content: space-evenly;
    /* background: yellow; */
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
}

#footer {
    bottom: 0;
    justify-content: space-between;
    /* background-color: #333; */
    width: 100%;
    height: 30%;
    padding: 1rem 20%;
}

button {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    cursor: pointer;
}

button:hover {
    background: orange;
}

button:focus {
    background: violet;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 0rem 0.5rem;
}

.logo {
    display: flex;
    max-width: 10rem;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.modal {
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(3px);
    box-sizing: border-box;
    height: 100%;
    padding: 3rem;
    border-radius: 2rem;
}
