html,
body {
    /* margin: 0;
    padding: 0; */
}

#webgl {
    width: 100%;
    height: 100%;
    display: block;
}

/*--------------------------------------------------------------
# Global Settings
--------------------------------------------------------------*/
:root {
    --background: #faf3eb;
    /* rgba() */
    --text: rgb(97, 75, 36);
    /* rgba() */
    --link: #8a62a9;
    /* rgba() */
    --link-hover: ;
    /* rgba() */
    --button: #e65126;
    /* rgba() */
    --button-hover: ;
    /* rgba() */
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

a {
    color: var(--link);
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

nav ul,
.language-selection ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    cursor: pointer;
}

.site-container {
    position: absolute;
    top: 0;
    /* width: 100vw;
    height: 100vh; */
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
}

.site-header__logo {
    position: relative;
    z-index: 1000;
    max-width: 200px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.site-header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.language-selection {
    position: relative;
    z-index: 1000;
}

/* Styles for the main navigation menu */
.main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    z-index: 999;
}

/* Styles for the menu list items */
.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

/* Styles for menu list links */
.main-nav ul li a {
    color: var(--link);
    font-size: 2rem;
    text-decoration: none;
}

/* Styles for the menu when it is active (visible) */
.main-nav.is-active {
    display: block;
}

/* Styles for the hamburger menu */
.main-nav-toggle {
    cursor: pointer;
    z-index: 1001;
    /* Above the menu */
    position: relative;
}

.language-selection {
    display: block;
    padding: 1px 2px 0px 2px;
    border: 3px solid var(--link);
    font-size: 15px;
    font-weight: bold;
    color: var(--link);
}

.language-selection li {
    display: none;
}

.language-selection .current {
    display: block;
}

@media (min-width: 1024px) {
    .main-nav {
        display: block;
        position: unset;
        border-radius: 10px;
        /* border: 1px solid var(--text);
        box-shadow: 0 5px 5px rgba(97, 75, 36, 0.3); */
    }

    .main-nav.is-active {
        display: none;
    }

    .main-nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        justify-self: flex-end;
    }

    .main-nav ul li a {
        font-size: 1rem;
        text-decoration: none;
        padding-bottom: 2px;
    }

    .main-nav a:hover {
        border-bottom: 3px solid var(--link);
    }

    .main-nav-toggle {
        display: none;
    }
}

/*--------------------------------------------------------------
# Info Card
--------------------------------------------------------------*/
.info-card {
    position: fixed;
    bottom: 1.5rem;
    left: 5%;
    width: calc(90% - 3rem);
    max-width: 600px;
    height: 180px;
    padding: 0 1.5rem;
    border: 1px solid var(--text);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 999;
    background-color: var(--background);
    box-shadow: 0 5px 5px rgba(97, 75, 36, 0.3);
    transition: width 0.5s ease, height 0.5s ease;
}

.info-card__nav {
    grid-column: 1 / span 4;
    grid-row: 2;
    align-self: start;
    width: 100%;
    order: 3;
    padding-bottom: 2rem;
}
.info-card__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    max-width: 300px;
}
.info-card--title {
    grid-column: 1 / span 3;
    grid-row: 1;
    align-self: center;
    order: 1;
    margin: 0;
    font-size: 1.5rem;
}
.info-card__nav button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.info-card--section {
    grid-column: 1 / span 4;
    width: 100%;
    order: 4;
    display: none;
}
.info-card--section-title {
    margin-top: 0px;
}

@media (min-width: 1024px) {
    .info-card {
        width: 320px;
        right: 1.5rem;
        left: auto;
        bottom: 4.5rem;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
    .info-card__content {
        order: 4;
        grid-column: 1 / span 6;
        grid-row: 3 / span 6;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.site-footer a {
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
    opacity: 0.5;
    padding: 0 2rem;
}

@media (min-width: 1024px) {
    .site-footer {
        display: flex;
        justify-content: space-between;
    }
}

/*--------------------------------------------------------------
# 3D model Navigation 
--------------------------------------------------------------*/
.model-navigation-arrows {
    position: fixed;
    left: 2rem;
    bottom: 6%;
}

.rotate-180 {
    transform: rotate(180deg);
}
.right-arrow-btn {
    width: 4rem;
}
